PORT=9090
NODE_ENV=development
APINAME=medigo-api
API_PREFIX=api

DB_DRIVER=mongo|postgres|mysql # SQL is using sequelize

# if using SQL
DB_CONNECTION_STRING=postgres://user:password@localhost:5432
DB_NAME=database

# if using mongo
MONGO_CONNECTION_STRING=mongodb://user:password@localhost:27017
MONGO_DB_NAME=database

#3rd party services
GA_TOKEN=XX-XXXXXX
GA_BUFFERTIME=5000
GOOGLE_APP_SERVER_KEY=123
NEWRELIC_KEY=abc
NEWRELIC_LOG_LEVEL=info

# DB initial data
INITDB_ROOT_USERNAME=user
INITDB_ROOT_PASSWORD=password
INITDB_DATABASE=database

# CloudAMQP configuration
AMQP_URL=amqp://localhost